<nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">

  <a class="navbar-brand" href="#">{{ title }}</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/devices">Medidores</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/sockets">Puntos de Medida</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/clients">Clientes</a>
      </li>
    </ul>

    <ul class="nav navbar-nav navbar-right" *ngIf="signedin$ | async">
      <span class="navbar-text">
        <i class="fa fa-user-circle-o"></i>
        {{ user }}
      </span>

      <form class="form-inline">
        <button class="btn btn-link my-2 my-sm-0" type="button" (click)="logout()">
          <i class="fa fa-sign-out"></i>
        </button>
      </form>

    </ul>

  </div>
</nav>

<main role="main" class="container">
  <router-outlet></router-outlet>
</main>
